server:
  port: ${PORT:8080}


spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}
#      uri: mongodb+srv://rivindu:ivindu@rivindu.sn7qimq.mongodb.net/cet_labs?retryWrites=true&w=majority"

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
