server:
  port: 8088

spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}
#      uri: "mongodb+srv://xenia:xenia@xenia.0r1mx1j.mongodb.net/sec_labs?retryWrites=true&w=majority"

management:
  endpoints:
    web:
      exposure:
        include: health,info
